extends layout

block content
  #wrapper
      // Page Content
      #page-wrapper
        .container-fluid
          .row
            .col-lg-12
              h1.page-header=title
          .row
            .col-xs-12
              table.table.table-striped
                thead
                  tr
                    th Name
                    th Price
                    th Image
                    th In Stock
                tbody
                  tr
                    td Margarin
                    td 399
                    td
                      img.product-list-image(src='http://www.elelmiszerkiszallitas.hu/pictures/arucikk_612.jpg')
                    td 255
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    